.hero-dark{
  background: #1b1b1c;
  border-bottom: 1px solid #2b2b2c;
  padding-top: 30px;
}

.hero-section{
    color: #1f1f1f;
    background-color: #1f1f1f;
}

.hero-sub{
  opacity: 0.9;
  font-size: 1.05rem;
}

.booking-card{
  border-radius: 14px;
}

.datepicker-wrap{
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 18px;
  background: #fff;
}

.datepicker-center{
  display: flex;
  justify-content: center;   /* ✅ centers the calendar */
}

/* Make ng-bootstrap datepicker look clean + consistent */
:host ::ng-deep ngb-datepicker{
  display: block;
  font-size: 0.95rem;
}

:host ::ng-deep .ngb-dp{
  border: 0;
  border-radius: 12px;
  overflow: hidden;
}

:host ::ng-deep .ngb-dp-header{
  background: #f8fafc;      /* subtle header */
  padding: 10px 12px;
  border-bottom: 1px solid #e5e7eb;
}

:host ::ng-deep .ngb-dp-navigation-chevron{
  border-width: 0.18em 0.18em 0 0; /* slightly thicker chevrons */
}

:host ::ng-deep .ngb-dp-weekdays{
  background: #fff;
  border-bottom: 1px solid #eef2f7;
  padding: 6px 0;
}

:host ::ng-deep .ngb-dp-weekday{
  color: #64748b;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
}

:host ::ng-deep .ngb-dp-day,
:host ::ng-deep .ngb-dp-weekday{
  width: 2.5rem;
  height: 2.5rem;
}

:host ::ng-deep .btn-light{
  border-radius: 10px;
}

:host ::ng-deep .btn-light:hover{
  background: #f1f5f9;
}

:host ::ng-deep .bg-primary{
  background-color: #dc3545 !important; /* ✅ your red theme */
}

:host ::ng-deep .text-primary{
  color: #dc3545 !important;
}

:host ::ng-deep .ngb-dp{
  width: 360px;
}


.feature-card{
  border-radius: 14px;
}

.feature-icon{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #dc3545;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
}

.feature-card{
  border-radius: 16px;
  padding: 24px 18px;
  transition: 0.25s ease;
}

.feature-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 20px 30px rgba(0,0,0,.12);
}
