html, body {
  height: 100%;
}
html { scroll-behavior: smooth; }


.footer-link:hover {
  color: #dc3545 !important;
  transition: 0.3s;
}

.footer-social:hover {
  color: #dc3545 !important;
  transform: translateY(-2px);
  transition: 0.3s;
}
