<nav class="navbar navbar-expand-lg navbar-dark py-3 border-secondary fixed-top navbar-background">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-3" routerLink="/" (click)="closeMobileMenu()">
      <img src="/logo.png" class="brand-logo" alt="NTG Logo">
      <span class="fw-semibold fs-4">
        NTG <span class="text-danger fw-bold">Excavations</span>
      </span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNav"
      aria-controls="mainNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- ADD #mainNavCollapse -->
    <div class="collapse navbar-collapse" id="mainNav" #mainNavCollapse>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 nav-gap me-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }"
             (click)="closeMobileMenu()">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active"
             (click)="closeMobileMenu()">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/services" routerLinkActive="active"
             (click)="closeMobileMenu()">Services</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/book-skip" routerLinkActive="active"
             (click)="closeMobileMenu()">Book Skip</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
             (click)="closeMobileMenu()">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
